div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  color: white;
  font-size: 68px;
  text-shadow: 0 0 3px black;
  width: 100%;
  text-align: center;
}

.card {
  width: 544px;
  margin: 2rem;
}

img {
  margin: 1rem;
  border: 2px;
  border-color: var(--color-primary);
}

.link {
  align-self: center;
  justify-self: center;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: var(--color-primary);
}
