@import '../base.scss';

.containerPage {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}
