div {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 68px;
  text-shadow: 0 0 3px black;
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}
