.heading {
  display: flex;
  font-size: 50px;
  color: var(--color-primary);
  justify-content: center;
}

.paragraph {
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  font-size: 20px;
  text-align: justify;
  color: var(--color-dark);
}
