@import '../base.scss';

.header {
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-content: center;
  font-size: $font-header;
  @media (max-width: 650px) {
    font-size: $font-base;
  }

  @media (max-width: 450px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.list {
  gap: 2rem;
  list-style: none;
  display: flex;

  a {
    text-decoration: none;

    &:hover,
    &:active {
      color: $secondary-color;
    }
  }

  @media (max-width: 650px) {
    gap: 1rem;
  }
}

.active {
  color: $primary-color;
}

.inactive {
  color: $light-color;
}

.select {
  display: flex;
  bottom: 0;
  margin-left: 1rem;
  color: $light-color;
  font-size: $font-header;
  background-color: transparent;
  outline: none;
  border: none;

  @media (max-width: 650px) {
    font-size: $font-base;

    option {
      font-size: $font-base;
    }
  }

  @media (max-width: 450px) {
    font-size: 16px;

    option {
      font-size: 16px;
    }
  }

  @media (max-width: 400px) {
    font-size: 14px;

    option {
      font-size: 14px;
    }
  }

  option {
    color: $dark-color;
  }
}
