@import '../base.scss';

.header {
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-content: center;
  font-size: $font-header;
}

.list {
  gap: 2rem;
  list-style: none;
  display: flex;

  a {
    text-decoration: none;

    &:hover,
    &:active {
      color: $secondary-color;
    }
  }
}

.active {
  color: $primary-color;
}

.inactive {
  color: $light-color;
}

.select {
  padding: 0;
  right: 2rem;
  margin-top: 2rem;
  position: absolute;
  justify-self: end;
  float: right;
}
