* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff0055;
  --color-secondary: #9b0034;
  --color-tetriary: #470018;
  --color-text-primary: #262626;
  --color-text-secondary: #646464;
  --color-text-tetriary: #cbcbcb;
  --color-light: #ffffff;
  --color-dark: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
