@import url('https://fonts.googleapis.com/css?family=VT323');

@import './base.scss';

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  margin: 0;
  font-size: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./../public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
